@import '../style/color';

// TODO probably simpler to just make this a list, no?
.margin {
    margin: 40px 0 0 40px;
    color: $margin-links;
    text-decoration: none;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.columnar {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.app {
  @extend .row;

  nav {
      width: 200px;
      background-color: $margin-background;

      @extend .columnar;

      .title {
          @extend .margin;

          display: block;
          font-size: 20px;
          font-weight: 400;
      }

      .module {
          @extend .margin;
          padding-left: 0;

          .hole {
              margin: 10px 0;
              border-bottom: 4px solid $hole;
          }

          .conflict {
              margin: 10px 0;
              border-bottom: 4px solid $conflict;
          }

          .history {
              margin: 10px 0;
              border-bottom: 4px solid $history;
          }
      }

      .subModule {
          padding-left: 10px;
      }

      li {
          list-style-type: none;
          margin-left: 0;
      }

      .login {
          @extend .row;
          @extend .margin;

          a {
              color: $margin-links;
              text-decoration: none;
              font-weight: 500;
              font-size: 13px;
              margin: 0;
          }
      }
  }

  main {
      flex: 1;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.appContent {
  margin: 50px 0; // for fixed navbar
}
