$cyan: #33e0ff;
$humility: #777;

$border: #ccc;

.name {
    margin: 0 2px;
    padding: 2px 7px;
    background-color: #eee;
}

.hole {
    margin: 0 2px;
    padding: 2px 7px;
    background-color: rgba(255, 165, 0, 0.5);
}

.signatureRow {
    display: flex;
    flex-direction: row;
    margin: 4px 0;
}

.implementation {
    display: flex;
    flex-direction: row;
}

.development {
    margin: 10px;
    font-weight: bold;

    @mixin box-mixin {
        margin: 10px;
        padding: 10px;
        border: 3px solid $border;
        overflow: visible;
        position: relative;
    }

    @mixin heading-mixin {
        // v1 -- pre- ant man
        // position: absolute;
        // top: -10px;
        // background-color: white;
        // padding: 0 5px;
    }

    .toolbox {
        @include box-mixin;

        .header {
            @include heading-mixin;
        }

        .search {
            height: 30px;
            background-color: #ddd;
        }

        .toolboxItem {
        }
    }

    .goal {
        @include box-mixin;

        // TODO this is exactly duplicated from toolbox.header
        .header {
            @include heading-mixin;
        }
    }
}


.masthead {
  background: #2d2d2d;
  padding: 40px 20px;
  color: white;
  text-align: center;
  .logo {
    $size: 200px;
    margin: auto;
    height: $size;
    width: $size;
    border-radius: $size / 2;
    border: 1px solid $cyan;
    box-shadow: inset 0 0 10px $cyan;
    vertical-align: middle;
    p {
      line-height: $size;
      margin: 0px;
    }
    img {
      width: 75%;
      margin: auto;
    }
  }
  h1 {
    color: $cyan;
    font-size: 4em;
  }
  h2 {
    color: #ddd;
    font-size: 2em;
    margin: 20px;
  }
  a {
    color: #ddd;
  }
  p {
    margin: 10px;
  }
  .humility {
    color: $humility;
    a {
      color: $humility;
    }
  }
  .github {
    font-size: 1.5em;
  }
}

.counterContainer {
  text-align: center;
  margin: 20px;
}
