.grid_1 {
  width: 60px;
}

.grid_2 {
  width: 140px;
}

.grid_3 {
  width: 220px;
}

.grid_4 {
  width: 300px;
}

.grid_5 {
  width: 380px;
}

.grid_6 {
  width: 460px;
}

.grid_7 {
  width: 540px;
}

.grid_8 {
  width: 620px;
}

.grid_9 {
  width: 700px;
}

.grid_10 {
  width: 780px;
}

.grid_11 {
  width: 860px;
}

.grid_12 {
  width: 940px;
}

.push_1 {
  margin-left: 60px;
}

.push_2 {
  margin-left: 140px;
}

.push_3 {
  margin-left: 220px;
}

.push_4 {
  margin-left: 300px;
}

.push_5 {
  margin-left: 380px;
}

.push_6 {
  margin-left: 460px;
}

.push_7 {
  margin-left: 540px;
}

.push_8 {
  margin-left: 620px;
}

.push_9 {
  margin-left: 700px;
}

.push_10 {
  margin-left: 780px;
}

.push_11 {
  margin-left: 860px;
}

.push_12 {
  margin-left: 940px;
}
