.cabal-sandbox/
cabal.sandbox.config
dist/
*.hers
*.o
*.hi
*.o-boot
*.hi-boot
*.js_o
*.js_hi
*.js_o-boot
*.js_hi-boot
*.hspp
*.dvi
*.pdf
*.agdai
src/main/
*.iml
node_modules
build
site/public/
.stack-work
tests/files/.tests
