@import '../../style/color';
@import '../../style/header';

$padding: 15px;
$bigMargin: 40px;
$vBorder: 1px solid #e0e0e0;

.module {
  @extend .material-header;
  margin-left: $bigMargin;

  display: flex;
  flex-direction: column;
}

.moduleHeader {
  border-bottom: 2px solid $margin-links;
}

.moduleTable {
  display: flex;
  flex-direction: column;
}

.definitionRow {
  margin-bottom: $bigMargin;
  border-bottom: $vBorder;

  .rowContent {
      display: flex;
      flex-direction: row;
  }

  .rowSpacer {
      height: $padding;
  }
}

.itemLabel {
  display: flex;
  flex-direction: column;

  padding: $padding 0;
  width: 200px;

  // TODO - figure out a better place to put this move handle
  // cursor: move;
}

.itemContent {
  display: flex;
  flex-direction: column;
  flex: 1;

  vertical-align: top;
  border-left: $vBorder;
  padding: $padding 0 $padding $bigMargin;
}

.itemNotes {
  padding: $padding;
  border-left: $vBorder;
}

.itemType {
  font-size: 10px;
  font-weight: bold;
}

.newItem {
  padding-top: 10px;
}
