$padding: 15px;
$bigMargin: 40px;

.module {
  margin-left: $bigMargin;

  display: flex;
  flex-direction: column;
}

.moduleTable {
  display: flex;
  flex-direction: column;
}

.definitionRow {
  display: flex;
  flex-direction: row;

  border-bottom: 1px solid #e0e0e0;
}

.itemLabel {
  display: flex;
  flex-direction: column;

  padding: $padding 0;
  width: 200px;

  // TODO - figure out a better place to put this move handle
  // cursor: move;
}

.itemContent {
  vertical-align: top;
  padding: $padding 0 $padding $bigMargin;
  width: 500px;
}

.itemType {
  font-size: 10px;
  font-weight: bold;
}
