.lambda {
    display: inline-flex;
    flex-direction: row;
}

.expandContainer {
    position: relative;
}

.expand {
    position: absolute;
    background-color: white;
    width: 100px;
    display: flex;
}
