.arr {
    // font-size: 150%;
    // vertical-align: center;
}

.widgets {
  .refreshBtn {
    margin-left: 20px;
  }
  .idCol {
    width: 5%;
  }
  .colorCol {
    width: 20%;
  }
  .sprocketsCol {
    width: 20%;
    text-align: right;
    input {
      text-align: right;
    }
  }
  .ownerCol {
    width: 30%;
  }
  .buttonCol {
    width: 25%;
    :global(.btn) {
      margin: 0 5px;
    }
  }
  tr.saving {
    opacity: 0.8;
    :global(.btn) {
      &[disabled] {
        opacity: 1;
      }
    }
  }
}

.workspace {
  margin-left: 20px;

  display: flex;
  flex-direction: column;

  table {
    margin-left: 10px;
  }
}

.definitionRow {
  td {
    padding: 5px 5px 5px 0;
  }
}

.definitionType {
  font-size: 10px;
  font-weight: bold;
}
