@import '../style/color';

.expression {
  padding: 0 5px;
  cursor: pointer;

  &:hover {
    background-color: $expression-highlight;
  }
}

.highlighted {
  box-sizing: border-box;
  border-bottom: 2px solid rgb(112, 182, 255);
}

.conflict {
  background-color: $conflict;
}
