.page {
    font-family: "Inconsolata", sans-serif;
    font-weight: lighter;
}

.top-pane {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
}

.bottom-pane {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    height: 100px;
    background-color: rgb(69, 69, 69);
    border-top: 2px solid rgb(119, 139, 199);
}

.interaction-log {
}
.log-elem {
}

.ctx-display {
    margin: 10px;
}
.ctx-display pre {
    font-family: "Inconsolata", monospace;
}

.prompt {
    color: white;
    margin: 20px;
}
.prompt-input {
    color: white;
    font-size: 17px;
    font-family: "Inconsolata", sans-serif;
    width: 95%;
    height: 55px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.prompt-input:focus {
    outline: none;
}

.tactic-list {
    clear: both;
}
.tactic-info {
    margin: 10px 0;
}

.entry {
    border-left: 5px solid rgb(166, 214, 255);
    clear: both;
    margin: 10px 0;
}

.proof-state {
    margin: 10px;
}

.tip {
    border-left: 5px solid rgba(255, 182, 111);
}

.empty-tip {
}

.empty-empty-tip {
}

.hole {
    background-color: rgb(255, 222, 53);
}

.tm-name {
    padding-left: 5px;
}

.ty {
    padding-left: 5px;
}

.anchor {
}

.tm-name, .anchor, .empty-tip, .tip, .hole, .entry span {
    display: table-cell;
}
