.page {
    display: flex;
    font-family: "Inconsolata", sans-serif;
    font-weight: lighter;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.top-pane {
    flex: 1;
}

.bottom-pane {
    height: 100px;
    background-color: rgb(69, 69, 69);
    border-top: 2px solid rgb(119, 139, 199);
}

.interaction-log {
}
.log-elem {
}

.ctx-display {
    margin: 10px;
}
.ctx-display pre {
    font-family: "Inconsolata", monospace;
}

.prompt {
    color: white;
    margin: 20px;
}
.prompt-input {
    color: white;
    font-size: 17px;
    font-family: "Inconsolata", sans-serif;
    width: 95%;
    height: 55px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.prompt-input:focus {
    outline: none;
}

.tactic-list {
    font-size: 14px;
}
.tactic-info {
    margin: 10px 0;
}

.entry {
    border-left: 5px solid rgb(166, 214, 255);
    clear: both;
    margin: 10px 0;
}

.proof-state {
    margin: 10px;
}

.tip {
    border-left: 5px solid rgba(255, 182, 111);
}

.empty-tip {
}

.empty-empty-tip {
}

.hole {
    background-color: rgb(255, 222, 53);
}

.tm-name {
    padding-left: 5px;
}

.ty {
    padding-left: 5px;
}

.anchor {
}

.tm-name, .anchor, .empty-tip, .tip, .hole, .entry span {
    display: table-cell;
}

.left-pane {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.pane-bar {
    /* vertically center the arrow */
    cursor: pointer;
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 150%;
    background-color: rgb(61, 61, 61);
    color: rgb(190, 190, 190);

    /* button styles */
    box-shadow: none;
    outline: 0;
    border-top: 0;
    border-left: 3px solid rgb(103, 103, 103);
    border-right: 0;
    border-bottom: 0;
}

.pane-bar:hover {
    color: white;
}

.right-pane {
    padding: 20px;
    background-color: rgb(61,61,61);
    border-left: 3px solid rgb(103, 103, 103);
    box-sizing: border-box;
    color: rgb(218, 218, 218);
    display: table-cell;
    overflow: scroll;
    width: 300px;
}

.choose-pane {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.choose-pane div {
    cursor: pointer;
    margin: 0 10px;
    padding: 2px 0;
}

.choose-pane div:hover {
    color: white;
}

.choose-pane div:first-child {
    margin-left: 0;
}

.choose-pane div:last-child {
    margin-right: 0;
}

.selected-pane {
    border-bottom: 3px solid rgb(144, 188, 237);
}
